# Python virtualenv
Lib/
Scripts/
Include/
pyvenv.cfg
.env/
.venv/
# Python junk
__pycache__/
*.pyc


# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/embeddings/
call-center-analytics/*
call_center_analytics.egg-info/*

# Ignore raw data (for privacy)
data/raw/

# ALLOW processed data to be uploaded
!data/processed/clustered_data.csv
!data/processed/executive_friction_scorecard.csv

# Logs
*.log

# OS
.DS_Store

# Dev files
./tests/*