# Database
psycopg2-binary
python-dotenv
pandas
numpy

# NLP & ML
transformers
torch
# spacy
# en-core-web-sm
sentence-transformers
scikit-learn
hdbscan

# Visualization & Notebooks
matplotlib
seaborn
ipykernel
plotly
umap-learn


# Utilities
pyyaml
python-dotenv